@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

html {
	font-size: 80%;
}

body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	margin: 0;
}

/* ----------------------Taille des sections de la page -------------- */

header,
footer {
	max-width: 1920px;
	height: 100px;
	margin: 0 auto;
}

header > div,
header nav {
	height: 100%;
}

main {
	max-width: 1920px;
	margin: 0 auto;
}

section {
	max-width: 1920px;
	margin: 0 auto;
}

h2 {
	color: #3d64ad;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 4rem;
	margin: 20px auto;
	text-align: center;
}


.titrePetitEcran {
	display: none;
}

.titreGrandEcran {
	display: block;
}

@media screen and (max-width: 1140px) {
	.titrePetitEcran {
		display: block;
	}

	.titreGrandEcran {
		display: none;
	}
}

/* Bouton de prise de rendez-vous */
.bttnRDV {
	font-weight: bold;
	border-color: #3d64ad;
	border-radius: 12px;
	padding: 15px;
	text-transform: uppercase;
	background-color: white;
}

.bttnRDV a {
	text-decoration: none;
	color: #3d64ad;
}
/* ------------------------ Header------------------------------ */

.navbar div {
	text-align: center;
	height: 100%;
}

.navbar-brand img {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.nav-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-item {
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #3d64ad;
	line-height: 1em;
}

.nav-item .bttnRDV {
	font-size: 1.5rem;
}

.nav-item a {
	color: #3d64ad;
}

/* ==========================SECTION CABINET================ */
#cabinet {
	position: relative;
	height: 100vh;
	max-height: 1080px;
}

#cabinet .voile {
	/* Sert à mettre un plan gris d'opacité de 20% par dessus le carrousel pour rendre le text plus lisible */
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	max-height: 1080px;
	background-color: rgba(128, 128, 128, 0.4);
}

#cabinet article {
	position: absolute;
	top: 0%;
	margin: auto 20%;
}

#cabinet article h2 {
	margin: 5% auto 20% auto;
}

#cabinet article p {
	color: black;
	text-shadow: -3px -3px 8px white, 3px 3px 8px white;
}
/* -------------------Caroussel------------ */
.carousel {
	height: 100vh;
	max-height: 1080px;
}

.carousel-item img {
	object-fit: cover;
	height: 100vh;
	max-height: 1080px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	width: 15rem;
	height: 15rem;
	
}

/* =======================Section Pourquoi Prendre Rendez-vous============= */
#pourquoi-consulter {
	position: relative;
}

#pourquoi-consulter .image-fond {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	height: 100%;
	opacity: 0.2;
}

.colonne-conteneur {
	position: relative;
	height: 1080px;
}

#pourquoi-consulter article {
	background-color: rgba(61, 100, 173, 0.2);
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	text-align: center;
}

#pourquoi-consulter article h3 {
	font-size: 1.5rem;
	line-height: 2.5rem;
	color: #f28d32;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1.5rem;
}

#pourquoi-consulter article p {
	font-size: 1rem;
	color: black;
	word-wrap: normal;
}

#pourquoi-consulter figure {
	height: 150px;
	width: 150px;
	margin: 0 auto;
	object-fit: contain;
}

#pourquoi-consulter figure img {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#digestif figure {
	height: 200px;
	max-width: 200px;
}

#musculaire,
#nerveux {
	height: 450px;
	width: 100%;
	max-width: 450px;
	padding: 35px;
}

#genito {
	height: 510px;
	width: 100%;
	max-width: 510px;
	padding: 35px;
}

#orl {
	height: 380px;
	width: 380px;
	padding: 10px;
}

#digestif {
	height: 550px;
	width: 100%;
	max-width: 550px;
	padding: 30px;
}

#vasculaire {
	height: 450px;
	width: 100%;
	max-width: 450px;
	padding: 20px;
}
@media screen and (max-width: 550px) {
	.colonne-conteneur {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}
@media screen and (min-width: 551px) {
	#musculaire {
		position: absolute;
		top: 3%;
		left: 5px;
	}
	#nerveux {
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translateX(-50%);
	}

	#genito {
		position: absolute;
		bottom: 2px;
		left: 50%;
		transform: translateX(-50%);
	}

	#orl {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
	}

	#digestif {
		position: absolute;
		top: 3%;
		right: 5px;
	}

	#vasculaire {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
	}
}

/* ======================== Section : Pour Qui Prendre RDV================= */
#pour-qui {
	position: relative;
}

#pour-qui article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;

	position: relative;
	height: 450px;
	width: 100%;
	max-width: 450px;
	padding: 35px;
	border-radius: 50%;
	object-fit: cover;

	cursor: pointer;
}


.pourqui-contenu h3 {
	font-size: 2.5rem;
	color: #f28d32;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px white;
	margin: 0;
}

.pourqui-contenu figure {
	height: 150px;
	width: 150px;
	margin: 0 auto;
}

.pourqui-contenu figure img {
	object-fit: contain;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.pourqui-contenu p {
	color: #f57200;
	text-shadow: 2px 2px 2px white;
	font-weight: 400;
}

#nourrisson::before,
#enfants::before,
#adultes::before,
#seniors::before,
#enceintes::before,
#sportifs::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.4;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

#nourrisson::before {
	background-image: url("../images/bkg_nourrisson.png");
}

#enfants::before {
	background-image: url("../images/bkg_enfants.png");
}

#adultes::before {
	background-image: url("../images/bkg_adultes.png");
}

#seniors::before {
	background-image: url("../images/bkg_seniors.png");
}

#enceintes::before {
	background-image: url("../images/bkg_femme_enceinte.png");
}

#sportifs::before {
	background-image: url("../images/bkg_sportifs.png");
}

.pourqui-contenu {
	position: relative;
}

#nourrissonVitrine {
	display: block;
}

#nourrissonTexte {
	display: none;
}

#enfantsVitrine {
	display: block;
}

#enfantsTexte {
	display: none;
}

#adultesVitrine {
	display: block;
}

#adultesTexte {
	display: none;
}

#seniorsVitrine {
	display: block;
}

#seniorsTexte {
	display: none;
}

#enceintesVitrine {
	display: block;
}

#enceintesTexte {
	display: none;
}

#sportifsVitrine {
	display: block;
	flex-direction: column;
}

#sportifsTexte {
	display: none;
}

/* =================CONTACT==================== */
#contact {
	height: 1080px;
	border-top: #3d64ad 1px solid;
	position: relative;
	
}

#contact article {
	margin: 80px 20%;
	text-align: center;
	font-size: 1.9rem;
	
}

#contact article div,
#contact h3 {
	margin: 30px auto;
}

#contact article div {
	display: flex;
	justify-content: center;
}

#contact h3 {
	font-weight: bold;
	color: #3d64ad;
}

#contact h3,
#contact span {
	text-transform: uppercase;
}

#contact figure {
	height: 40px;
	width: 40px;
	object-fit: contain;
	margin: 0;
	padding: 0;
}

#contact figure img {
	height: 100%;
	width: 100%;
}

.telephone {
	font-size: 1.3rem;
}

.telephone span {
	font-size: 2.5rem;
	font-weight: 600;
}

#contact .bttnRDV {
	font-size: 2.5rem;
}

/* -------------Boutton de retour en haut de page------------------- */

.topBttn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	z-index: 99;

	border: none;
	background-color: transparent;
	
	padding: 0;
	margin: 0;
	
	
}

.topBttn img {
	width: 35px;
	height: auto;
}


/* ========================footer=========================== */
footer {
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	font-size: 1.5rem;
	padding-bottom: 10px;
}

footer div {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer p {
	margin: 0 20px;
}

footer span {
	text-transform: uppercase;
}
